body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background:   #B89B5E !important; */
  background: #C6AD8F!important;
  font-family: Roboto, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  background-color:   #C6AD8F;
}
a{
  font-family: Roboto;
}

@media(min-width:769px){
  .about-us{
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin-top: 8.5rem;
    margin-bottom: 5rem;
  }
  .szolg-main{
    margin-top: 8.5rem;
    margin-bottom: 5rem;
  }
  .form-main{
    margin-top: 8.5rem;
    margin-bottom: 5rem;

  }
  
  .kapcs-main{
      margin-top: 15rem;
      margin-bottom: 5rem;
      padding-left: 5rem;
      padding-right: 5rem;
    
  }
  
  .galeriatop{
    margin-top: 8.5rem;
    margin-bottom: 5rem;

  }

}

@media (max-width:768px) {
  .about-us{
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .szolg-main{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .form-main{
    margin-top: 3rem;
    margin-bottom: 3rem;

  }
  
  .kapcs-main{
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    
  }
  
  .galeriatop{
    margin-top: 3rem;
    margin-bottom: 3rem;

  }
  
  .Nav{
    display: flex;
  }
  .logo{
  }
  .logo p{
  position: relative;
    font-size: 50px;
    left: -30px;
    top:0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
}


.logo{
  font-size: 3rem;
  /* font-family: 'Moon Dance', cursive; */
  font-family: Roboto;
  text-transform: uppercase;
  margin: 0;
}
.logo p{
  margin-top: 0;
  margin-bottom: 5px;
}

.elerhetosegek{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #4A3429;
  color: #C6AD8F;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 1rem;
  left: 3rem;
  width: 3rem;
  height: 3rem;
  background-color: black;

}





.footer-main{
  background-color: black;
  padding: 5rem;
  color: #C6AD8F;
  display: flex;
  justify-content: space-around;
}


.mainpage{
  margin-top: 8rem;
  margin-bottom: 5rem;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display:none;
  position: absolute;
  background-color: #4A3429;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-test{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-right-content a{
color: #C6AD8F;
}
.swiper-container{
  display: flex;
  align-items: center;
  position: relative;
  top: 80px;
  
}

.mainpage-box{
  width: 15rem;
  height: 15rem;
  background-color: #4A3429;
  border-radius: 3rem;
}
.mainpage-container{
display: flex;
flex-wrap: wrap;
gap: 2rem;
justify-content: center;
}

.mainpage-header{
  display: flex;
  justify-content: center;
  color: #4A3429;
  margin-bottom: 2rem;
}

.test span{
  background-color: black;
  color: #C6AD8F;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.test{
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .swiper-button-next:after{
  color: #4A3429;
}
.swiper-button-prev:after{
  color: #4A3429
} */
.kapcs-main{
  background-color: #4A3429;
  border-radius: 10px;
  color: #B89B5E;
}
.button-kapcs{
  background-color: #B89B5E;
  color: #4A3429;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 20px;
}
.button-kapcs:hover{
  background-color: black;
  color: #B89B5E;
}

.contactus-container input {
  background: transparent;
  border-color: #C6AD8F!important;
  border: 0;
  outline: 0;
}

.contactus-container input:focus {
  background: transparent;
  border: none;
  border-width: 0 0 2px;
  border-color: #C6AD8F!important;
}
.contactus-container input::placeholder {
  color: #B89B5E;
  padding-left: 20px;
  font-size: 18px;
}
.contactus-container textarea{

  background: transparent;
  border-color: #C6AD8F!important;
  border: 0;
  outline: 0;

  /* border-bottom: 1px solid white; */
}
  .contactus-container textarea:focus{
    background:transparent;
    border: none;
      border-width: 0 0 2px;
      border-color: #C6AD8F
    }

    .contactus-container textarea::placeholder{
      color:#B89B5E;
      padding-left: 20px;
      font-size: 18px;
    }
.rightnav{
  z-index: 10;
  position: sticky;
  top: 0;
}


.rightnav-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px; 
  margin-bottom: 20px; 
}

.swiper-button-next::after{
  background-color: #4A3429;
  color:#B89B5E;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  right: 25px;
}
.swiper-button-prev::after{
  background-color: #4A3429;
  color:#B89B5E;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
  left: 25px;
}
.swiper-button-next:hover{
  transition: color 0.3s ease-in-out;
  color: #B89B5E;
}

.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  opacity: 0; 
  transition: opacity 0.7s ease-in-out;
}

.mySwiper:hover .swiper-button-next,
.mySwiper:hover .swiper-button-prev {
  opacity: 1;
}
.textshadow{
  text-shadow: 3px 3px 3px black;
}
.idezet{
  font-family: 'Moon Dance', cursive;
  position: absolute;
  right: 50px;
  top: 50px;
}
.idezet2{
  font-family: 'Moon Dance', cursive;
  position: absolute;
  left: 50px;
  top: 50px;
}